@media (max-width: 768px) {

    .hero-buttons {
        flex-direction: column;
    }

    .stat-card {
        width: 100%;
    }

}
@media (max-width: 900px) {

    .dashboard-preview {

        grid-template-columns: 1fr;
    }

    .preview-content {

        grid-template-columns: 1fr;
    }

    .large-card {

        grid-column: span 1;
    }

}